/* Container */
.container, .form-control, .form-select, .modal-content, .swal2-popup, .popover, .plate-number, .chip, .bordered, .container-fluid, .input-group-text,
.apexcharts-tooltip, .apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark, .gm-style-iw.gm-style-iw-c,
.carousel-item.vehicle-carousel, .box-reminder-recently, .step {
    border: 2px solid var(--secondaryColor) !important;
}
.carousel-item.vehicle-carousel, .container, .modal-content, .swal2-popup, .popover, .plate-number, .chip, .container-fluid,
.gm-style-iw.gm-style-iw-c {
    border-bottom: var(--spaceXXSM) solid var(--secondaryColor) !important;
}
.container, .modal-content, .swal2-popup, .popover, .plate-number, .chip, .container-fluid {
    padding: var(--spaceXLG);
    margin-bottom: var(--spaceLG);
    background: var(--firstColor);
    position: relative;
}
@media (max-width: 575px) {
    .container, .popover, .container-fluid, .gm-style-iw.gm-style-iw-c {
        padding: var(--spaceXMD) !important;
    } 
}
@media (min-width: 768px) and (max-width: 991px) {
    .modal-content, .swal2-popup {
        padding: var(--spaceXSM) !important;
    }  
}
@media (max-width: 575px) {
    .modal-content, .swal2-popup {
        padding: var(--spaceMini) !important;
    } 
}
.container, .container-fluid {
    width: 100%;
    margin-inline: 0;
}
.container-landing {
    border-radius: var(--roundedJumbo);
    padding: var(--spaceXLG);
    margin-bottom: var(--spaceLG);
    border: var(--spaceMini) solid var(--firstColor);
}
.container, .container-fluid, .modal-content, .gm-style-iw.gm-style-iw-c {
    border-radius: var(--roundedLG) !important;
} 
.modal-content, .swal2-popup, .popover, .btn:hover, .container-landing, .apexcharts-tooltip {
    box-shadow: rgba(0, 0, 0, 0.2) 1.975px 1.975px 2.8px !important;
}
.popover {
    border-radius: var(--roundedLG);
    padding: 0 !important;
}
.popover-header {
    background: transparent;
}
.modal-content, .swal2-popup {
    border-radius: var(--roundedLG);
    padding: var(--spaceMD) !important;
}