hr {
    background: var(--secondaryColor);
}
.btn, .sidebar .nav-link.active, .gm-control-active, .swal2-actions button {
    color: var(--whiteColor) !important;
    border-left: none;
    border-top: none;
    border-right: none;
    padding: var(--spaceSM) var(--spaceMD);
    font-weight: 500;
}

/* Button */
.btn.small {
    font-size: var(--textSM);
    padding: var(--spaceXSM) var(--spaceMD);
}
.btn:hover, .hover-grow:hover {
    transform: scale(1.025);
}
.btn.btn-primary, .gm-control-active {
    background: var(--blueColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondaryBlueColor) !important;
}
.btn.btn-success, .swal2-actions button.swal2-confirm {
    background: var(--successColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondarySuccessColor) !important;
}
.btn.btn-danger, .swal2-actions button.swal2-cancel {
    background: var(--dangerColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondaryDangerColor) !important;
}
.btn.btn-warning {
    background: var(--warningColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondaryWarningColor) !important;
}

/* Form Control */
.form-control, .form-select, .btn, .container, .sidebar .nav-link.active, .plate-number, .chip, .bordered, .container-fluid, .input-group-text, .swal2-actions button {
    border-radius: var(--roundedSM) !important;
}
.form-label, label {
    font-weight: 500;
}
input:focus, textarea:focus {
    color: var(--secondaryColor) !important;
}
.form-control, .form-select, .input-group-text {
    background: transparent !important;
    font-size: var(--textXLG);
    color: var(--secondaryColor);
}
.form-control, .form-select, .input-group-text , .rounded {
    border-radius: var(--roundedLG);   
}
input[type="file"].form-control {
    margin-bottom: 0;
    font-size: var(--textMD);
}
.progress-bar {
    background: var(--successColor);
}

/* Input Group */
.input-group-text {
    color: var(--firstColor);
}
.input-group .input-group-text {
    padding: var(--spaceSM);
    background: var(--warningColor) !important;
}
.input-group .form-control {
    margin:0;
}
.input-group .input-group-text:first-child + .form-control {
    border-radius: 0 !important;  
}
.input-group > .form-control:first-child:not(:last-child) {
    border-top-right-radius: 0 !important;  
    border-bottom-right-radius: 0 !important;
}
.input-group .form-control + .input-group-text {
    border-top-left-radius: 0 !important;  
    border-bottom-left-radius: 0 !important;
}
.input-group > .input-group-text:first-child:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.input-group > .form-control:first-child:not(:last-child), .input-group .input-group-text:first-child + .form-control, .input-group > .input-group-text:first-child:not(:last-child) {
    border-right:1px solid var(--secondaryColor) !important;
}