hr {
    background: var(--secondaryColor);
}
.btn, .sidebar .nav-link.active, .gm-control-active, .swal2-actions button {
    color: var(--whiteColor) !important;
    border-left: none;
    border-top: none;
    border-right: none;
    padding: var(--spaceSM) var(--spaceMD);
    font-weight: 500;
}

/* Button */
.btn.small, .btn-page {
    font-size: var(--textSM);
    padding: var(--spaceXSM) var(--spaceMD);
}
.btn:hover, .hover-grow:hover, .btn-page:hover {
    transform: scale(1.025) !important;
}
.btn.btn-primary, .gm-control-active, .fc-toolbar-chunk .fc-button-group button, .fc-today-button.fc-button.fc-button-primary {
    background: var(--blueColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondaryBlueColor) !important;
}
.btn.btn-success, .swal2-actions button.swal2-confirm, .btn-page.active {
    background: var(--successColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondarySuccessColor) !important;
}
.btn.btn-danger, .swal2-actions button.swal2-cancel {
    background: var(--dangerColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondaryDangerColor) !important;
}
.btn.btn-warning, .btn-page {
    background: var(--warningColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondaryWarningColor) !important;
}

/* Pagination */
.btn-page-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: start; 
    gap: var(--spaceXXSM); 
    padding: var(--spaceSM);
    align-items: center;
    background: var(--blueColor);
    border: 1.5px solid var(--whiteColor) !important;
}
.btn-page {
    cursor: pointer;
    padding: var(--spaceMini) var(--spaceMD);
}
.btn-page, .btn-page-holder label {
    margin: 0;
}
.btn-page-holder label {
    margin-right: var(--spaceXSM);
}

/* Form Control */
.form-control, .form-select, .btn, .container, .sidebar .nav-link.active, .plate-number, .chip, .bordered, .container-fluid, .input-group-text, .swal2-actions button,
.fc-toolbar-chunk .fc-button-group button, .fc-today-button.fc-button.fc-button-primary, .btn-page {
    border-radius: var(--roundedSM) !important;
}
.form-label, label, .btn-page {
    font-weight: 500;
}
input:focus, textarea:focus {
    color: var(--secondaryColor) !important;
}
.form-control, .form-select, .input-group-text {
    background: transparent !important;
    font-size: var(--textXLG);
    color: var(--secondaryColor);
}
.form-control, .form-select, .input-group-text , .rounded {
    border-radius: var(--roundedLG);   
}
input[type="file"].form-control {
    margin-bottom: 0;
    font-size: var(--textMD);
}
.progress-bar {
    background: var(--successColor);
}

/* Input Group */
.input-group-text {
    color: var(--firstColor);
}
.input-group .input-group-text {
    padding: var(--spaceSM);
    background: var(--warningColor) !important;
}
.input-group .form-control {
    margin:0;
}
.input-group .input-group-text:first-child + .form-control {
    border-radius: 0 !important;  
}
.input-group > .form-control:first-child:not(:last-child) {
    border-top-right-radius: 0 !important;  
    border-bottom-right-radius: 0 !important;
}
.input-group .form-control + .input-group-text {
    border-top-left-radius: 0 !important;  
    border-bottom-left-radius: 0 !important;
}
.input-group > .input-group-text:first-child:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.input-group > .form-control:first-child:not(:last-child), .input-group .input-group-text:first-child + .form-control, .input-group > .input-group-text:first-child:not(:last-child) {
    border-right:1px solid var(--secondaryColor) !important;
}