:root {   
    /* Typography */
    --textXJumbo : 24px;
    --textJumbo : 20px;
    --textXLG : 18px;
    --textLG : 16px;
    --textXMD : 14px;
    --textMD : 13px;
    --textSM : 12px;
    --textXSM : 11px;

    /* Rounded */
    --roundedCircle : 100%;
    --roundedJumbo : 30px;
    --roundedXLG : 24px;
    --roundedLG : 18px;
    --roundedMD : 14px;
    --roundedSM : 12px;
    --roundedMini : 6px;

    /* Spacing */
    --spaceJumbo : 35px;
    --spaceXLG : 24px;
    --spaceLG : 20px;
    --spaceXMD : 16px;
    --spaceMD : 12px;
    --spaceSM : 10px;
    --spaceXSM : 8px;
    --spaceXXSM : 6px;
    --spaceMini : 4px;

    /* Table column min width */
    --tcolMinXSM : 60px;
    --tcolMinSM : 120px;
    --tcolMinMD : 140px;
    --tcolMinLG : 180px;
    --tcolMinJumbo : 240px;
    --tcolMinHuge : 360px;

    /* Color Pallete */
    --successColor : #00C363;
    --dangerColor : #DD0022;
    --warningColor : #FFC352;
    --infoColor : #009FF9;

    --primaryColor : #3b82f6;
    --darkColor : #191919;
    --whiteColor : #FFFFFF;
    --greyColor : #838181;
    --shadowColor : #E0E0E0;
}

body {
    background: var(--darkColor);
    min-height: 75vh;
    font-family: 'Poppins';
}

/* Carousel */
.carousel-control-prev, .carousel-control-next {
    background: var(--primaryColor);
    height: calc(var(--spaceJumbo) * 2);
    width: calc(var(--spaceJumbo) * 2);
    opacity: 1 !important;
    border-radius: 100%;
    margin-top: 45vh;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 7px 21px;
    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    transition: all 0.4s !important;
}
.carousel-item .row > div:nth-child(2) .btn {
    transform: scale(1.025);
}
.carousel-item .row > div:nth-child(1) .btn, .carousel-item .row > div:nth-child(3) .btn {
    transform: scale(0.95);
}

/* Button */
button, a {
    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    transition: all 0.4s !important;
}
button:hover, .btn:hover .carousel-control-prev:hover, .carousel-control-next:hover {
    transform: scale(1.05);
}

.btn-menu-landing, .carousel-indicators button{
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    background-size: cover;
    background-color: var(--darkColor);
}
.btn-nav-page {
    z-index: 999;
    background: var(--dangerColor);
    color: var(--whiteColor) !important;
    padding: var(--spaceMD) var(--spaceXLG);
    border-radius: var(--roundedJumbo);
    margin: var(--spaceLG) 0 var(--spaceLG) var(--spaceSM);
}

/* Table */
table th, table tr {
    color: var(--whiteColor);
}
thead th {
    text-align: center;
}

/* Modal */
.modal-content {
    background: var(--darkColor) !important;
}
.modal-content {
    color: var(--whiteColor) !important;
}

/* Typography */
label, input, textarea, select {
    margin-bottom: var(--spaceMD);
}
label, a, p, b, i, li, h1, h2, h3, h4 ,h5, h6 {
    color: var(--whiteColor);
}

/* Container */
.container {
    border: 1.75px solid var(--whiteColor);
    border-radius: var(--roundedMD);
    padding: var(--spaceLG);
    margin-bottom: var(--spaceLG);
    color: var(--whiteColor);
}

.form-control, .form-select, .input-group-text {
    background: transparent;
    color: var(--whiteColor);
    border-radius: var(--roundedLG);
}
.input-group-text {
    height: 38px;
}

hr {
    background: var(--whiteColor);
}