:root {   
    /* Typography */
    --textXJumbo : 24px;
    --textJumbo : 20px;
    --textXLG : 18px;
    --textLG : 16px;
    --textXMD : 14px;
    --textMD : 13px;
    --textSM : 12px;
    --textXSM : 11px;

    /* Rounded */
    --roundedCircle : 100%;
    --roundedJumbo : 30px;
    --roundedXLG : 24px;
    --roundedLG : 18px;
    --roundedMD : 14px;
    --roundedSM : 12px;
    --roundedMini : 6px;

    /* Spacing */
    --spaceJumbo : 35px;
    --spaceXLG : 24px;
    --spaceLG : 20px;
    --spaceXMD : 16px;
    --spaceMD : 12px;
    --spaceSM : 10px;
    --spaceXSM : 8px;
    --spaceXXSM : 6px;
    --spaceMini : 4px;

    /* Table column min width */
    --tcolMinXSM : 60px;
    --tcolMinSM : 120px;
    --tcolMinMD : 140px;
    --tcolMinLG : 180px;
    --tcolMinJumbo : 240px;
    --tcolMinHuge : 360px;

    /* Color Pallete */
    --successColor: #46dca2;
    --secondarySuccessColor: #2cc389;  
    --dangerColor: #f55d86;
    --secondaryDangerColor: #d94b6e;   
    --warningColor: #FFC352;
    --secondaryWarningColor: #e0a840;  
    --infoColor: #00b8ff;
    --secondaryInfoColor: #0095cc;    
    --primaryColor: #2d94ff;
    --secondaryPrimaryColor: #1f6fd1;
    --darkColor : #232323;
    --whiteColor : #f6fbff;
    --greyColor : #656565;
    --shadowColor : #f2f2f2;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--whiteColor);
    min-height: 75vh;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: var(--darkColor) !important;
}
.no-msg-text {
    color: var(--greyColor);
    text-align: center !important;
    font-style: italic;
    font-size: var(--textMD);
}

img:not(.gm-style img) {
    border-radius: var(--roundedLG);
}

.container, .form-control, .form-select, .modal-content, .swal2-popup, .popover, .plate-number, .chip, .bordered {
    border: 2px solid var(--darkColor) !important;
}
.modal-content, .swal2-popup, .popover {
    border-radius: var(--roundedLG);
    padding: var(--spaceMD) !important;
}

/* Container & Button & Input */
.form-control, .form-select, .btn, .container, .sidebar .nav-link.active, .plate-number, .chip, .bordered {
    border-radius: var(--roundedSM) !important;
}
.form-label, label {
    font-weight: 500;
}

.rounded-3 {
    border-radius: var(--roundedLG) !important;
}

/* Typography */
.text-secondary {
    font-style: italic;
    color: var(--greyColor);
    font-size: var(--textMD);
}

.navbar, .footer {
    border-bottom: 2px solid var(--darkColor);
    padding: var(--spaceLG);
    position: sticky;
    top: 0;
    background: var(--warningColor);
    z-index: 1000;
    height: 100px;
}
.navbar .navbar-brand {
    color: var(--darkColor);
    font-weight: 700;
    font-size: calc(var(--textJumbo)*1.25);
}
.content {
    flex: 1;
    padding: 20px;
}
.footer {
    border-top: 2px solid var(--darkColor);
}

.btn, .sidebar .nav-link.active, .gm-control-active {
    color: var(--whiteColor) !important;
    border-left: none;
    border-top: none;
    border-right: none;
    padding: var(--spaceSM) var(--spaceMD);
    font-weight: 500;
}

.btn.btn-primary, .gm-control-active{
    background: var(--primaryColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondaryPrimaryColor) !important;
}
.btn.btn-success{
    background: var(--successColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondarySuccessColor) !important;
}
.btn.btn-danger{
    background: var(--dangerColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondaryDangerColor) !important;
}
.btn.btn-warning{
    background: var(--warningColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondaryWarningColor) !important;
}
.bg-primary {
    background: var(--primaryColor) !important;
}
.bg-info {
    background: var(--infoColor) !important;
}
.bg-success {
    background: var(--successColor) !important;
}
.bg-warning {
    background: var(--warningColor) !important;
}
.bg-danger {
    background: var(--dangerColor) !important;
}

.btn.small {
    font-size: var(--textSM);
    padding: var(--spaceXSM) var(--spaceMD);
}

/* Carousel */
.carousel-parent {
    position: relative;
}
.carousel-button-holder {
    position: absolute;
    top: calc(-1.5*var(--spaceJumbo));       
    right: var(--spaceMD);      
    display: flex;
    gap: 8px;         
}
.carousel-control-prev, .carousel-control-next {
    height: calc(var(--spaceJumbo) * 1.25);
    width: calc(var(--spaceJumbo) * 1.25);
    opacity: 1 !important;
    margin-top: 0; 
    position: relative; 
}
.progress-bar {
    background: var(--successColor);
}

.btn-menu-landing, .carousel-indicators button{
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    background-size: cover;
    background-color: var(--darkColor);
}

.plate-number {
    background:var(--warningColor) !important; 
    z-index: 998;
}
.chip-mini {
    font-size:var(--textSM); 
    border-radius: var(--roundedLG);
    color: var(--whiteColor);
    font-weight: 600;
    margin-inline: var(--spaceXXSM);
}
.chip, .plate-number, .chip-mini {
    padding: var(--spaceMini) var(--spaceSM) !important;
}
.chip, .plate-number {
    font-weight: bold;
    margin-inline: var(--spaceSM);
    font-size:var(--textMD); 
}

/* Table */
table {
    border-collapse: collapse;   
    width: 100%;
    border: 1.75px solid var(--darkColor) !important;
}
th, td {
    text-align: center;         
    vertical-align: middle;    
    border: 1.75px solid var(--darkColor) !important; 
}
thead th {
    text-align: center;
    background: var(--primaryColor) !important;
    color: var(--whiteColor);
    letter-spacing: 0.5px;
    font-weight: 600;
}
table tbody p {
    font-size: var(--textXMD);
}

/* Typography */
label, input, textarea, select {
    margin-bottom: var(--spaceMD);
}

/* Container */
.container, .modal-content, .swal2-popup, .popover, .plate-number, .chip {
    border-bottom: var(--spaceXXSM) solid var(--darkColor) !important;
    padding: var(--spaceXLG);
    margin-bottom: var(--spaceLG);
    background: var(--whiteColor);
    position: relative;
}
.container {
    width: 100%;
    margin-inline: 0;
}
.bordered {
    border: 2px solid var(--greyColor) !important;
}
.form-control, .form-select, .input-group-text {
    background: var(--shadowColor) !important;
    font-size: var(--textXLG);
    padding: var(--spaceMD);
}
.container-landing {
    border-radius: var(--roundedJumbo);
    padding: var(--spaceXLG);
    border: 4px solid transparent;
    margin-bottom: var(--spaceLG);
    border: 4px solid var(--whiteColor);
}

.form-control, .form-select, .input-group-text , .rounded {
    border-radius: var(--roundedLG);   
}

hr {
    background: var(--darkColor);
}

.btn, .container, .sidebar .nav-link, .hover-grow, .plate-number, .chip, .bordered, .chip-mini {
    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    transition: all 0.4s !important;
}
.btn:hover, .hover-grow:hover {
    transform: scale(1.025);
}
.modal-content, .swal2-popup, .popover, .btn:hover, .container-landing {
    box-shadow: rgba(0, 0, 0, 0.2) 1.975px 1.975px 2.8px;
}

/* Maps Dialog */
.gm-ui-hover-effect {
    background: black !important;
    border-radius: 100%;
    position: absolute !important;
    right: 6px !important;
    top: 6px !important;
}
.gm-ui-hover-effect span {
    color: var(--whiteColor) !important;
}
.gm-control-active {
    fill: var(--whiteColor) !important;
    border-radius: var(--roundedSM) !important;
}
.gmnoprint div{
    background: transparent !important;
    box-shadow: none !important;
    position: absolute;
    top: -30px;
    right: -15px;
}
.maps-toolbar {
    border-radius: 20px;
    border: 5px solid var(--darkColor);
    padding: 0 !important;
    background: var(--darkColor);
}
.maps-toolbar button {
    margin: 10px !important;
    border-radius: 10px !important;
}
.maps-info-box p, .maps-info-box h6 {
    color: var(--textWhite) !important;
}

/* Summary */
.summary-label {
    font-size: var(--textJumbo);
    font-weight: 600;
}
.summary-number {
    font-size: calc(2*var(--textJumbo));
    font-weight: 700;
    margin: 0;
}

.message.small img {
    max-width: 160px;
}
.message.small p {
    margin-top: var(--spaceSM);
    margin-bottom: 0;
    font-size: var(--textXMD);
}

.pin-code{ 
    padding: 0; 
    margin: 0 auto; 
    display: flex;
    justify-content:center;
} 
.pin-code input { 
    border: 1.75px solid var(--whiteColor); 
    text-align: center; 
    width: 48px;
    height:48px;
    font-size: 36px; 
    background-color: #F3F3F3;
    margin-right:5px;
} 
.pin-code input:focus { 
    border: 1px solid var(--darkColor);
    outline:none;
} 