.plate-number {
    background:var(--warningColor) !important; 
    z-index: 98;
}
.chip-mini {
    font-size:var(--textSM); 
    border-radius: var(--roundedLG);
    font-weight: 600;
    margin-inline: var(--spaceXXSM);
}
.chip, .plate-number, .chip-mini {
    padding: var(--spaceMini) var(--spaceSM) !important;
    text-align: center;
}
.chip, .plate-number {
    font-weight: bold;
    margin-inline: var(--spaceSM);
    font-size:var(--textMD); 
}
.chip, .plate-number, .chip-mini {
    color: var(--darkColor);
}

/* Carousel */
.btn-menu-landing, .carousel-indicators button{
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    background-size: cover;
    background-color: var(--secondaryColor);
}
.carousel-parent {
    position: relative;
}
.carousel-button-holder {
    position: absolute;
    top: calc(-1.5*var(--spaceJumbo));       
    right: var(--spaceMD);      
    display: flex;
    gap: var(--spaceSM);         
}
.carousel-control-prev, .carousel-control-next {
    height: calc(var(--spaceJumbo) * 1.25);
    width: calc(var(--spaceJumbo) * 1.25);
    opacity: 1 !important;
    margin-top: 0; 
    position: relative; 
}

/* Apexchart */
.apexcharts-yaxis-label, .apexcharts-xaxis-label, .apexcharts-datalabel-value {
    fill: var(--secondaryColor) !important;
}
.apexcharts-legend-text {
    color: var(--secondaryColor) !important;
}
.apexcharts-yaxis-label, .apexcharts-xaxis-label, .apexcharts-tooltip, .apexcharts-legend-text  {
    text-transform: capitalize !important;
}
.apexcharts-tooltip-title, .apexcharts-tooltip, .apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
    background: var(--firstColor) !important;  
    color: var(--secondaryColor) !important;
}
.apexcharts-tooltip-title {
    padding-inline: var(--spaceMD) !important;
    border-radius: none !important;
    background: var(--warningColor) !important;
    font-weight: 600 !important;
    font-size: var(--textMD) !important;
    color: var(--darkColor) !important;
    border-bottom: 1.5px solid var(--secondaryColor) !important;
}
.apexcharts-tooltip, .apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
    border-bottom: 4px solid var(--secondaryColor) !important;
    border-radius: var(--roundedSM) !important;
}

/* Pin Code */
.pin-code{ 
    padding: 0; 
    margin: 0 auto; 
    display: flex;
    justify-content:center;
} 
.pin-code input { 
    border: 1.75px solid var(--firstColor); 
    text-align: center; 
    width: 48px;
    height:48px;
    font-size: 36px; 
    background-color: #F3F3F3;
    margin-right:5px;
} 
.pin-code input:focus { 
    border: 1px solid var(--secondaryColor);
    outline:none;
} 

/* Maps Dialog */
.gm-style-iw-d {
    width: 100vw !important;
    max-width: 300px !important;
}
@media (max-width: 992px) {
    .gm-style-iw-d {
        min-height: 215px;
    }
    .gm-style-iw.gm-style-iw-c {
        min-height: 215px;
        max-width: 80vw !important;
        padding-top: 0 !important;
        overflow-y: auto !important;
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch !important;
    }
}
.gm-style-iw.gm-style-iw-c {
    background: var(--firstColor) !important;
    border-bottom: var(--spaceXXSM) solid var(--secondaryColor) !important;
}
.gm-ui-hover-effect {
    display: none !important;
    position: absolute !important;
}
.gm-ui-hover-effect span {
    color: var(--firstColor) !important;
}
.gm-control-active {
    fill: var(--firstColor) !important;
    border-radius: var(--roundedSM) !important;
}
.gmnoprint div{
    background: transparent !important;
    box-shadow: none !important;
    position: absolute;
    top: -30px;
    right: -15px;
}
.maps-toolbar {
    border-radius: var(--roundedLG);
    border: 3px solid var(--secondaryColor);
    padding: 0 !important;
    background: var(--secondaryColor);
}
.maps-toolbar button {
    margin: var(--spaceMD) !important;
    border-radius: var(--roundedMD) !important;
}